/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100vh;
    max-height: 100vh;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 16px;
}

#main-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 32px;
}

html,
body,
#__next {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    height: 100%;
    background-color: #182435;
    color: rgb(231, 255, 255);
}

#header-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.201);
}

#header-style > * {
    flex: 1 1 1%;
}

#header-text {
    font-size: 24px;
    text-align: center;
}

#burger-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 1;
    height: 100%;
    padding-right: 20px;
}

.main-content-containter{
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(231, 255, 255);
  width: 100%;
  height: 100%;
  gap: 8px;
  padding: 8px;
}

.main-content-header{
  display: flex;
  align-self: center;
  border-bottom: 3px solid rgb(231, 255, 255);
  margin-bottom: 8px;
  size: 24px;
}

.event-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.event-item-selected{
  border-bottom: 3px solid rgb(255, 255, 255);
}

#event-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

#main-image{
  width: 1000px;
  height: 600px;
}